<head>

    {# Cargamos la librería #}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}

</head>

<body>
    <!-- Page Content -->
    <div class="container-fluid">

        <div class="row">
            <div class="col m-3">
                <a class="btn btn-success btn-lg btn-block" href="{% url 'agregar_reporte' %}">Generar Reporte</a>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-image">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Imagen Base</th>
                        <th scope="col">Imagen modificada</th>
                        <th scope="col">Diferencias</th>
                        <th scope="col">Informacion importante</th>

                    </tr>
                </thead>
                <tbody>
                    {% for r in reportes %}
                    <tr>
                        <td scope="row">{{r.fecha}}</th>
                        <td> <img src="{{r.imagen_base.url}}" class="img-fluid img-thumbnail"></td>
                        <td> <img src="{{r.imagen_modificada.url}}" class="img-fluid img-thumbnail"></td>
                        <td> <img src="{{r.imagen_diferencias.url}}" class="img-fluid img-thumbnail"></td>
                        <td>
                            <pre>{{r.informacion}}</pre>
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %}
</body>